<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha cita:</strong>
  <%= @consultum.fecha_cita %>
</p>

<%= link_to 'Edit', edit_consultum_path(@consultum) %> |
<%= link_to 'Back', consulta_path %>
